@font-face {
    font-family: "Book-Antiqua";
    src: url("../fonts/bookantiqua.ttf") format("truetype");
}
@font-face {
    font-family: "Book-Antiqua-Bold";
    src: url("../fonts/bookantiqua_bold.ttf") format("truetype");
}

body {
    display: flex;
    flex-direction: column;
    /* height: 10vh; */
    background-color: rgb(60, 61, 62);
    /* margin: 100px; */
    justify-content: center;
    align-items: center;
    margin: 0px 0px 20px 0px;
}

button {
    border-radius: 5px;
    font-size: 24px;
    background-color: transparent;
}

.pagetitle {
    font-size: 40px;
    color: rgb(255, 255, 255);
    text-align: center;
    margin: 10px 0px 10px 0px;
}

.container {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    background-color: rgb(160, 239, 239);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 60vw;
    border-radius: 4px;
    border: 2px solid black;
}

#input-title {
    font-size: 24px;
    font-family: "Book-Antiqua-Bold", 'Courier New';
}

.middle {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
}

.div-area,
.review-area,
.img-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .img-area,
.review-area {
    margin: 0 20px 0px 20px;
} */

.img-area {
    flex: auto;
    gap: 20px;
}

.img-area h2{
    margin-top: 20px;
    margin-bottom: 0;;
}

.review-area {
    flex: 2 600px;
}



.div-area {
    align-items: center;
}


.img-spot {
    display: flex;
    aspect-ratio: 1 / 1.5;
    max-height: 50vh;
    width: auto;
    background-color: rgb(215, 215, 215);
    align-items: center;
    justify-content: center;
}

#uploadedImage {
    background-color: transparent;
    object-fit: contain;
}

#input-review {
    resize: none;
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid black;
    outline: none;
    color: black;
    font-size: 24px;
    padding: 10px;
    height: 60%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


h1 {
    font-family: "Book-Antiqua-Bold", 'Courier New';
}

h2 {
    font-family: "Book-Antiqua", 'Courier New';
}

.middle h2 {
    text-align: center;
}
